@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-hidden {
    display: none;
  }
}

@import "variables";
@import "general";
@import "navbar";
@import "images";
@import "header";
@import "footer";
@import "section";
@import "board";
@import "locations";
@import "typography";
@import "lists";
@import "buttons";
@import "timeline";
@import "policy";
